.quill-editor {
  text-align: left;
}

.quill-editor .ql-toolbar.ql-snow {
  border-radius: 6px 6px 0 0;
}

.quill-editor .ql-container.ql-snow {
  border-radius: 0 0 6px 6px;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
  font-size: 1rem;
}
